@page "/AddProjectMember"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject DialogService DialogService
<Message @ref="notificationComponent" />

<h3>AddProjectMember</h3>

@code {

    private Message notificationComponent;

}
