@page "/ProjectExpenses/{ProjectId:int}"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject DialogService DialogService
<Message @ref="notificationComponent" />

<h3>ProjectExpenses</h3>

@code {
    [Parameter]
    public int ProjectId { get; set; }

    private Message notificationComponent;

}

